/* line 3, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper {
  font-size: 14px;
  font-family: OpenSans, "Open Sans", Geneva, sans-serif;
}
/* line 7, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn {
  display: inline-block;
  padding: 12px 18px;
  border: solid 1px #b0b0b0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  margin-bottom: .5em;
  color: #fff;
  background-color: #43639F;
  font-family: inherit;
  font-size: 17px;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
/* line 22, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:hover {
  background-image: none;
  text-decoration: none;
}
/* line 28, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:disabled, .invoices-wrapper .btn.disabled {
  opacity: 0.15;
  cursor: default;
  cursor: not-allowed;
}
/* line 33, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
/* line 37, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:focus {
  outline: none;
}
/* line 40, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:first-child {
  margin-bottom: 1em;
}
/* line 43, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn:last-child {
  margin-right: 0;
}
/* line 46, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .btn.btn--small {
  padding: 4px 18px;
  font-size: 14px;
}
/* line 51, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column, .invoices-wrapper .row {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 58, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column {
  display: inline-block;
  padding: 0 10px 0 0;
  text-align: left;
  vertical-align: top;
}
/* line 64, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column:last-child {
  padding-right: 0;
}
/* line 67, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column--three-fourths {
  width: 75%;
}
/* line 68, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column--two-thirds {
  width: 66%;
}
/* line 69, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column--half {
  width: 50%;
}
/* line 70, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column--third {
  width: 33%;
}
/* line 71, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .column--fourth {
  width: 25%;
}
/* line 73, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .ar {
  text-align: right;
}
/* line 74, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .al {
  text-align: left;
}
/* line 75, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .ac {
  text-align: center;
}
/* line 77, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .left-padded {
  padding-left: 20px;
}
/* line 79, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper h1 {
  margin: 0 0 .5em;
  font: bold 30px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
}
/* line 83, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper h2 {
  margin: 0;
  color: #666;
  font: bold 14px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
}
/* line 88, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
/* line 92, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper caption {
  color: #000;
  font: bold 14px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  text-align: left;
}
/* line 98, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper tr, .invoices-wrapper td, .invoices-wrapper th {
  page-break-inside: avoid;
}
/* line 100, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper th {
  padding: 10px;
  color: #666;
  font-size: 12px;
  text-align: left;
  vertical-align: top;
}
/* line 101, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper td {
  padding: 10px;
  font-size: 12px;
}
/* line 102, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper tbody tr:nth-child(odd) {
  background: #f9f9f9;
}
/* line 104, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .pseudopod {
  padding: 10px 0 0;
}
/* line 107, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .pseudopod td {
  padding: 5px 10px;
}
/* line 110, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .pseudopod th {
  font-size: 12px;
  font-weight: normal;
}
/* line 114, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .canceled > span {
  text-decoration: line-through;
}
/* line 117, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .canceled:after {
  color: #911;
  content: " Cancelled";
  text-decoration: none;
}
/* line 122, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .discounts th, .invoices-wrapper .discounts td {
  padding: 10px 10px 2px;
}
/* line 125, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .delivery th, .invoices-wrapper .delivery td {
  padding: 2px 10px 10px;
}
/* line 128, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .total {
  border-top: solid 1px #ccc;
  color: #666;
}
/* line 132, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .total .amount {
  padding-left: 10px;
  color: #000;
  font: bold 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
}
/* line 138, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .total td,
.invoices-wrapper .total th {
  padding-left: 0;
  font-size: 18px;
}
/* line 142, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .total td:first-child {
  font-style: italic;
}
/* line 146, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .date {
  font-family: "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  font-weight: bold;
}
/* line 150, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .due-date {
  clear: right;
  padding: 17px;
  border: solid 2px #C7C7C7;
  background: #f9f9f9;
  font: bold 25px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
}
/* line 157, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .inline {
  display: inline;
}
/* line 160, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .invoice-basics {
  margin-bottom: 1em;
}
/* line 163, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .invoice-parties {
  margin-bottom: 1em;
}
/* line 166, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .logo {
  max-width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 171, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .vcard {
  overflow: hidden;
}
/* line 174, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .vcard-buyer {
  margin-bottom: 25px;
}
/* line 177, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .buyer-name, .invoices-wrapper .org-from, .invoices-wrapper .invoice-num, .invoices-wrapper .po-num {
  margin: 0;
  font: bold 20px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
}
/* line 183, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
.invoices-wrapper .invoice-num,
.invoices-wrapper .buyer-name,
.invoices-wrapper .org-from {
  word-break: break-all;
  word-wrap: break-word;
}

@media print {
  /* line 191, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
  .controller-invoices .l-app-header, .controller-invoices .l-app-footer, .controller-invoices .btn--save,
  .controller-invoices .logo-link, .controller-invoices .nav--main, .controller-invoices .nav--admin, .controller-invoices .tab-header, .controller-invoices .teflon, .controller-invoices .no-print {
    display: none;
  }
  /* line 194, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
  .controller-invoices .logo {
    display: block;
  }
}
@media screen {
  /* line 201, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
  body > .invoices-wrapper {
    width: 7.5in;
    min-height: 9in;
    padding: 1in .5in;
    margin: 0 auto;
    background: #fff;
  }
  /* line 208, /Users/ben/Projects/localOrbit/code-interim/app/assets/stylesheets/invoices.css.scss */
  body > .invoices-wrapper .btn--save {
    float: right;
  }
}
